html, body {
  height:100%;
  width:100%;
  font-family: 'Quicksand', sans-serif;
  color: #222;
}

hr {
  border-top: 2px solid #a9a9a9;
}

.nav-item{
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2.5rem;
}

.nav-link {
  font-size: 1.5em;
}

.navbar-toggler {
  margin: 0 auto;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  margin: 0 auto;
  padding-top: 1rem;
}

.typewrite {
  font-family: 'Quicksand', sans-serif;
  font-size: .8em;
  color: #222;
  text-decoration: none;
  border-right: 0.08em solid #222}
}

.avatar {
  width: 20%;
  margin: 2rem;
}

.hero-foot {
  width: 50%;
  margin: 0 auto;
  padding-top: 2.5rem;
}

.btn-primary {
  background-color: #00B2E3;
  border: 1px solid #00B2E3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.btn-primary:hover {
  background-color: #d5d5d5;
  border: 1px solid #d5d5d5;
}
.btn-outline-primary:hover {
  background-color: #00B2E3;
  border: 1px solid #00B2E3;
}
.btn-outline-primary {
  width: 150px;
  height: 40px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.display-5 {
  margin-bottom: 1rem;
}

.fa-html5 {
  color: #e54d26;
}
.fa-bootstrap {
  color: #563d7c;
}
.fa-css3-alt {
  color: #2163af
}
.fa-html5, .fa-bootstrap, .fa-css3-alt {
  font-size: 4em;
  margin: 1rem;
}

#connect {
  margin-top: -2rem;
}

.social a {
  font-size: 2.5em;
  padding: 2rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-linkedin {
  color: #2867B2;
}
.fa-envelope {
  color: #00B2E3;
}
.fa-instagram {
  color: #517fa4;
}
.fa-github {
  color: #6e5494;
}
.fa-facebook:hover,
.fa-linkedin:hover,
.fa-envelope:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: #d5d5d5;
  -webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

footer {
  padding-top: 1rem;
}


/*--- Media Queries --*/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .social a {
    font-size: 2em;
    padding: .8rem;
  }
  .avatar {
    width: 40%;
    margin: 2rem;
  }
  .hero-foot {
    width: 80%;
    margin: 0 auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .social a {
    font-size: 2.5em;
    padding: 1rem;
  }
  .avatar {
    width: 80%;
    margin: 2rem;
  }
  .hero-foot {
    width: 80%;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .avatar {
    width: 15%;
    margin: 2rem;
  }
  .hero-foot {
    width: 50%;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .social a {
    font-size: 2.5em;
    padding: 2rem;
  }
  .avatar {
    width: 20%;
    margin: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .avatar {
    width: 20%;
    margin: 2rem;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
